@model isport_foxhun.Models.PlayerViewModel

<div id="divParameter" class="row">
    <h2>Parameter</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <h5>Control</h5>
            @{ int index = 0;}
            @foreach (var s in Model.Control)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="ctr_@index" name="ctr_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>
        <div class="col-md-4">
            <h5>Attack</h5>
            @{ index = 0;}
            @foreach (var s in Model.Attack)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="att_@index" name="att_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>
        <div class="col-md-4">
            <h5>Defense</h5>
            @{ index = 0;}
            @foreach (var s in Model.Defense)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="def_@index" name="def_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h5>Tacktick</h5>
            @{ index = 0;}
            @foreach (var s in Model.Tacktick)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="tac_@index" name="tac_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>
        <div class="col-md-4">
            <h5>Physical</h5>
            @{ index = 0;}
            @foreach (var s in Model.Physical)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="phy_@index" name="phy_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>
        <div class="col-md-4">
            <h5>Mental</h5>
            @{ index = 0;}
            @foreach (var s in Model.Mental)
            {
                <div class="form-group">
                    <div class="col-md-8 control-label">
                        @s.name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="men_@index" name="men_@index" value="@s.value" class="form-control" />
                    </div>
                </div>
                index++;
            }
        </div>

    </div>

</div>