@model isport_foxhun.Models.PlayerViewModel

<script type="text/javascript">

    $(document).ready(function () {
        $("#player_region").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Player/Province",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        //console.log(data);
                        response($.map(data, function (item) {
                            return { label: item.pvnName, value: item.pvnName };
                        }))

                    }
                })
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            }
        });


    });

    function CallChangefunc(e) {
        //console.log(e);
        if (e != "-select-") {
            $.ajax({
                type: "GET",
                url: "/Player/Parameter",
                data: { position: e  }
            }).done(function (htmlResponse) {
                console.log(htmlResponse);
                $("#divParameter").html(htmlResponse)
            });
        }
    }

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };


</script>
<h2>Player</h2>
<div class="container">
    
    <hr />
    <h2>Info</h2>

    @using (Html.BeginForm("insertplayer", "Player", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.player.team_id, new { @Value = ViewBag.team_id })
        <hr />
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.HiddenFor(m => m.player.id)
                <div class="form-group">
                    <img src="~/images/KING_POWER_CUP_LOGO_B.jpg" class="img-thumbnail" style="max-height:150px;" />
                </div>
                <div class="form-group">
                    <input type="file" name="image" id="image" />
                </div>
                <!-- div class="row">
                    <img src="~/images/size_T-shirt.png" />
                </!div> -->
            </div>
            <div class="col-md-10 left">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Province Name :
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.player.region, new { @class = "form-control", required = "required", @Value = ViewBag.region })
                    </div>
                    <div class="col-md-2 control-label">
                        Team Name :
                    </div>
                    <div class="col-md-4">

                        @Html.TextBoxFor(m => m.player.team, new { @class = "form-control", required = "required", @Value = ViewBag.team })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Name TH :
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.player.name, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-md-2 control-label">
                        Name EN :
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.player.nameen, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Position :
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.player.position, new SelectList(new string[] { "GK", "CB", "LB", "FB", "LWB", "RWB", "DM", "CM", "AM", "LW", "RW", "CF", "WF", "ST" }), "-select-", new { @class = "form-control", @onchange = "CallChangefunc(this.value)", required = "required" })
                    </div>
                    <div class="col-md-2 control-label">
                        No. :
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.player.seq, new { onkeydown = "return ValidateNumber(event);", @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-2 control-label">
                        Shirt :
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.player.size, new SelectList(new string[] { "S", "M", "L", "XL", "XXL"}), "-select-", new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-md-2 control-label">
                        pants :
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.player.sizepants, new SelectList(new string[] { "S", "M", "L", "XL", "XXL" }), "-select-", new { @class = "form-control", required = "required" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Age :
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.player.age, new { onkeydown = "return ValidateNumber(event);", @class = "form-control", required = "required" })
                    </div>
                    <div class="col-md-2 control-label">
                        height :
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.player.hight, new { onkeydown = "return ValidateNumber(event);", @class = "form-control", required = "required" })
                    </div>
                    <div class="col-md-2 control-label">
                        weight :
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.player.wight, new { onkeydown = "return ValidateNumber(event);", @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Detail :
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.player.detail, new { @class = "form-control", @style = "width :100%; " })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary center-block" value="Submit" />
            </div>
        </div>
    }

</div>