@model isport_foxhun.Models.MatchViewModels
@{

}

<script>
    function CallChangefunc1(e) {
        //console.log(e);
        if (e != "-select-") {
            var color = $("#listcolor1").val();
            console.log(color);
            $.ajax({
                type: "GET",
                url: "/Match/viewplayerbyteam",
                data: { team_id: e ,team:"team1",color:color}
            }).done(function (htmlResponse) {
                //console.log(htmlResponse);
                $("#divPlayer1").html(htmlResponse)
            });
        }
    }
    function CallChangefunc2(e) {
        //console.log(e);
        if (e != "-select-") {
            var color1 = $("#listcolor2").val();
            console.log(color1 );
            $.ajax({
                type: "GET",
                url: "/Match/viewplayerbyteam",
                data: { team_id: e, team: "team2", color: color1 }
            }).done(function (htmlResponse) {
                //console.log(htmlResponse);
                $("#divPlayer2").html(htmlResponse)
            });
        }
    }
</script>
<h2></h2>
@Html.Action("match_list", "Match" ,new { scout_id= ViewBag.scout_id })

<h2>Team Sheet</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Match", "Match", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-4 col-sm-4"><p class="lead center-block">Team @Html.DropDownList("listcolor1", ViewData["listcolor"] as SelectList)</p></div>
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4"><p class="lead center-block">Team @Html.DropDownList("listcolor2", ViewData["listcolor"] as SelectList)</p></div>
 </div>
<div class="row">
    <div class="col-md-4 col-sm-4">
        
        @Html.DropDownListFor(m => m.teamList, new SelectList(Model.teamList, "id", "name"), "-select-", new { @class = "form-control", @id = "team1", @name = "team1", @onchange = "CallChangefunc1(this.value)" , required = "required" })
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' id="matchdate" name="matchdate" class="form-control" required placeholder="วันที่แข่งขัน"  />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.field, new SelectList(new string[] { "สนามกีฬาองค์การบริการส่วนจังหวัดขอนแก่น", "สนามกีฬาเทศบาลนครเชียงใหม่", "สนามกีฬาเทศบาลเมืองฉะเชิงเทรา", "สนามฟุตบอลมหาวิทยาลัยสงขลานครินทร์จังหวดสงขลา", "สนามกีฬากลางจังหวัดพระนครศรีอยุธยา", "สนามซ้อมสโมสรฟุตบอล SCG เมืองทอง ยูไนเต็ด" }), "-select-", new { @class = "form-control", @id = "txtField", @name = "txtField", required = "required" })
           @* <input type='text' id="txtField" name="txtField" required class="form-control" placeholder="สนามที่แข่งขัน" /> *@
            </div>
        <div class="form-group">
            <input type='text' id="txtRound" name="txtRound" class="form-control" required placeholder="รอบ" />
        </div>
        </div>

    <div class="col-md-4 col-sm-4">
        
        @Html.DropDownListFor(m => m.teamList, new SelectList(Model.teamList, "id", "name"), "-select-", new { @class = "form-control", @id = "team2", @name = "team2", @onchange = "CallChangefunc2(this.value)", required = "required" })
    </div>
</div>
<div class="row">
    <div id="divPlayer1" class="col-md-6 col-sm-6 " style="min-height:300px;"></div>
    
    <div id="divPlayer2" class="col-md-6 col-sm-6 " style="min-height:300px;"></div>

</div>

<div class="form-group">
    <div class="col-md-12">
        <input type="submit" class="btn btn-primary center-block" value="Submit" />
    </div>
</div>

}

<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
</script>


