@model isport_foxhun.Models.PlayertoScoutedViewModelList

@{
    Layout = null;
}


<input type="hidden" id="ViewBag.team" name="@ViewBag.team" value="@ViewBag.team_id">

@foreach (var list in Model.playerList)
{

    var nameInfo = "infoPlayer_" + ViewBag.team;

    <div class="col-md-6 col-sm-6">
        <div class="thumbnail" style="min-height:300px;">
            <div class="caption">
                <div class="row" style="margin-left:10px;">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            @{ if (list.image != null)
                                {
                                    <img src="@Url.Content(list.image)" class="img-thumbnail" style="max-height:150px;" />
                                }
                                else
                                {
                                    <img src="~/images/isport.png" class="img-thumbnail" style="max-height:150px;" />
                                }
                            }
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="row" style="height:5px;background-color:@ViewBag.color;border-style:solid;border-width:1px;"></div>
                            <p>No. @list.seq</p>
                            @if (list.isScouted)
                            {
                            <p style="color:red;">Scouted</p>
                            }
                        </div>
                        </div>
                    <div class="row">
                        
                            <label class="checkbox-inline text-info">
                                <input type="checkbox" class="checkbox top" style="border:solid;" name=@nameInfo  value="@list.id" id="@list.id">
                                @list.name</label>
                      
                    </div>
                    
                    <div class="row">
                        <br/>
                        <p>Position : @list.position</p>
                        <p>Age :@list.age weight :@list.wight height :@list.hight</p>
                    </div>
                    <div class="row">


                        <p class="small">
                            Detail :
                            @if (list.detail != null && list.detail.Length > 50)
                            {
                                @list.detail.Substring(0, 50)
                            }
                            else
                            {
                                @list.detail
                            }
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
                                }
